@haqqex-common:registry=https://haqqex.jfrog.io/artifactory/api/npm/haqqex-npm
//haqqex.jfrog.io/artifactory/api/npm/:always-auth=true
//haqqex.jfrog.io/artifactory/api/npm/:email=alena.hrenovska@haqqex.com
//haqqex.jfrog.io/artifactory/api/npm/:_auth=YWxlbmEuaHJlbm92c2thQGhhcXFleC5jb206QVA2S3ZLNDhhNFA2NjVUUU5Qc1RvY0ZmUm9x

@haqqex-tech:registry=https://gitlab.com/api/v4/projects/39431923/packages/npm/
//gitlab.com/api/v4/projects/39431923/packages/npm/:_authToken=glpat-xhBw7eaGCwisVysG_aVQ

registry=https://registry.npmjs.org/
