<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>HaqqEX Dev</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Only for testing</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleURLName</key>
				<string>haqqexmobiledev</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>haqqexmobiledev</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NFCReaderUsageDescription</key>
		<string>Let us scan the document for more precise recognition</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false />
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true />
			<key>NSAllowsLocalNetworking</key>
			<true />
			<key>NSExceptionDomains</key>
			<dict>
				<key>haqqexhelp.zendesk.com</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSIncludesSubdomains</key>
					<true />
				</dict>
				<key>https://backend.dev.haqqex.tech</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true />
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSTemporaryExceptionMinimumTLSVersion</key>
					<string>TLSv1.1</string>
				</dict>
				<key>https://backend.haqqex.tech</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true />
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSTemporaryExceptionMinimumTLSVersion</key>
					<string>TLSv1.1</string>
				</dict>
				<key>https://backend.pre.haqqex.tech</key>
				<dict>
					<key>NSIncludesSubdomains</key>
					<true />
					<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
					<true />
					<key>NSTemporaryExceptionMinimumTLSVersion</key>
					<string>TLSv1.1</string>
				</dict>
			</dict>
		</dict>
		<key>URL types</key>
		<array>
			<dict>
				<key>URL Schemes</key>
				<array>
					<string>haqqex</string>
					<string>dev.haqqex</string>
					<string>pre.haqqex</string>
				</array>
			</dict>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>haqqex</string>
				</array>
			</dict>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app requires access to the camera.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app requires access to the photo library.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app does not require access to the microphone.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>My description about why I need this capability</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app requires access to the photo library.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>

		<!-- Include this only if you are planning to use the camera roll -->
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Your message to user when the photo library is accessed for the first time</string>

		<!-- Include this only if you are planning to use the microphone for video recording -->
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
		<array>
			<string>A0000002471001</string>
			<string>A0000002472001</string>
			<string>00000000000000</string>
		</array>
	</dict>
</plist>